* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.main-container {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  gap: 170px;
  /* position: fixed; */
}

.top-menu {
  display: flex;
  align-items: center; /*아이콘(이미지)와 텍스트가 같은 위치에 존재하게 */
  gap: 20px;
  padding: 15px;
  width: 200px;
  background-color: #fff;
}

.top-menu i {
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
}

/* 검색 창 */
.search {
  display: flex;
}

/* 검색 */
.search-text {
  width: 500px;
  height: 40px;
  align-items: center;
  border: solid 1px #ddd;
  background-color: #fff;
  border-radius: 40px 0 0 40px;
  box-shadow: inset 0 1px 2px #eee;
  margin-left: 32px;
  padding: 0 4px 0 16px;
  display: flex;
  flex: 1;
  cursor: text;
}

.search-button {
  font-size: 20px;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  width: 64px;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.search-mic {
  font-size: 18px;
  border: 1px solid #d3d3d3;
  background-color: #f6f6f6;
  width: 40px;
  border-radius: 40px;
  margin-left: 15px;
}

/* 헤더의 사이드(맨 오른쪽)*/
.header-side {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.header-side-elements {
  font-size: 18px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

/* 사이드바 메뉴 */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  left: 0;
  padding: 0px 10px;
  height: 100vh;
  overflow-y: auto;
  cursor: pointer;
}

.sidebar ul {
  padding: 0px 12px; /*실제 사이트 참고해 삽입*/
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.sidebar-menu li {
  display: flex;
  align-items: center; /*아이콘(이미지)와 텍스트가 같은 위치에 존재하게*/
  font-size: 14px;
  gap: 25px; /*아이콘(이미지)와 텍스트 사이의 gap*/
  padding: 5px 14px;
}

/* 아이콘 */
.sidebar-menu li i {
  display: flex;
  font-size: 25px;
}

/* 이미지 */
.sidebar-menu img {
  display: flex;
  width: 25px;
}

/* 내 페이지, 탐색, 유튜브 더보기 같은 상위 menu */
.sidebar-menu li.mother-menu {
  font-size: 15px;
  font-weight: bold;
}

.border-line {
  border-bottom: solid #ddd 1px;
}

/* 메인 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 메인 메뉴(전체,음악,뉴스 등..) */
.main-menu {
  display: flex;
  gap: 12px;
}

.main-menu button {
  font-size: 14px;
  border: 1px solid #ffffff;
  background-color: #0000000d;
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
}
